body {
	margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    border-bottom: silver 1px solid;

}

.video {
    margin-top: 90px;
    width: 100%;
}

.left {
    width: 74%;
    float: left;
}

.container {
    margin: 0px 80px;
    background: grey;
}
.container > section , .container > div {
}

.search {
    margin: 0 auto;
    width: 30%
}

.search-id{
    width: 80%;
}

.right{
    width: 20%;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
}

.right img {
    width: 168px;
    height: 94px;
}

.right h2 {
    font-size: 14px;
    font-weight: 500;
}

.comments{
    width: 645px;
    float: left;
}

.next-video {
    width: 500px;

}

.video-title {
    font-size: 24px;
    font-weight: 400;
}

.comment{
    font-size: 18px;
    
}

.next-video-style{
    position: relative;
    left: 200px;
}