body {
	margin: 0;
}

navbar{
    background-color: white;
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    border-bottom: silver 1px solid;
}

#video {
    margin-top: 90px;
}

#container {
	margin: 0px 80px;
}